// COLORS
$text-color: #fff;
$bg-color: #ccc;
$h-color: #ed6247;

// BODY
html, body {
  width: 100%;
  height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	background-color: $bg-color;
	font-size: 1.4rem;	
	line-height: 1.3;
	font-family: 'open_sansregular', sans-serif;
	color: $text-color;
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

//LINKS
a:not(.logo) {
	color: inherit;
	text-decoration: none;
	outline: 0;
	cursor: pointer;

	&:hover, &:focus {
		color: darken($text-color, 10%);
	}

}



 


 