// COLORS
$text-color: #fff;
$bg-color: #fff;
$f-color: #333333;
$h-color: #d8ce3e;
$n-color: rgba(31, 15, 15, 1);

// BODY
html, body {
  width: 100%;
  height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	background-color: $bg-color;
	font-size: 1.4rem;	
	line-height: 1.3;
	font-family: 'open_sansregular', sans-serif;
	color: $text-color;
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

h1 {
	font-family: 'playfair_displayregular';
	font-size: 3.2rem;
}

//LINKS
a:not(.logo) {
	color: inherit;
	text-decoration: none;
	outline: 0;
	cursor: pointer;
	border-bottom: 1px solid transparent;
	&:hover {
		color: $h-color;
		transition: color 0.1s linear;
	}
	&:focus {
		color: $h-color;
		border-bottom: 1px solid $h-color;
		transition: border-bottom 0.3s linear;	    		
	}	
}




 